<html lang="tr">
<th:block th:fragment="content">
	<div class="form-group">
		<form action="#" th:action="@{/instructor/update}" th:object="${instructor}"
			method="post">
			<div class="col-md-3">
				<p>
					<input type="hidden" class="form-control" placeholder="Name"
						th:field="*{id}" th:value="*{id}" />
				</p>
			
				<p>
					<input type="text" class="form-control" placeholder="Name"
						th:field="*{name}" th:value="*{name}" />
				</p>
				<p>
					<input type="text" class="form-control" placeholder="Surname"
						th:field="*{surname}" th:value="*{surname}"/>
				</p>
				<p>
					<input type="number" class="form-control" placeholder="Birth Date"
						th:field="*{birthDate}" th:value="*{birthDate}"/>
				</p>
				<p>
					<input type="number" class="form-control" placeholder="TCKNO"
						th:field="*{tckn}" th:value="*{tckn}"/>
				</p>
				<p>
					<input type="email" class="form-control" placeholder="E mail"
						th:field="*{email}" th:value="*{email}"/>
				</p>
				<p>
					<input type="password" class="form-control" placeholder="Password"
						th:field="*{password}" th:value="*{password}"/>
				</p>
				<p>
					<input type="tel" class="form-control" placeholder="Phone"
						th:field="*{phone}" th:value="*{phone}"/>
				</p>
				
				  <div class="form-group">
					<select multiple name="courseIds" class="form-control"><option
							th:each=" course: ${courses}" th:value="${course.id}"
							th:text="${course.name}"
							th:selected="${#lists.contains(instructor.courses,course)}" 
							>Courses</option></select>
							
				</div>
				  
				<input type="submit" class="btn btn-primary" value="Submit" /> <input
					type="reset" class="btn btn-primary" value="Reset" />
			</div>
		</form>
	</div>
	</th>
</html>